@import url('https://fonts.googleapis.com/css?family=Abel|Roboto&display=swap');

html {
	width: 100%;
	height: 100%;
	border: 0;
	margin: 0;
	padding: 0;
}

body {
	width: 100%;
	border: 0;
	margin: 0;
	padding: 0;
	color: var(--panel_fg);
	display: flex;
	flex: 1 0 auto;
	overflow: auto;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: flex-start;
	user-select: none;
	font-family: Abel;
	background: var(--main_bg);
	background-size: cover;
	user-select: none;
}

input {
	color: var(--panel_fg);
	background: rgba(0,0,0,0);
	text-align: center;
	border: none;
	width: 7em;
}

a {
	text-decoration: underline;
	color: var(--panel_fg);
}

select {
    border: none;
    border-bottom-style: solid;
    border-bottom-width: 1px;
	padding-left: 3px;
	padding-right: 7px;
    color: var(--panel_fg);
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    cursor: pointer;
}


#stringed {
	width: 100%;
	margin-bottom: 0.5em;
	overflow-x: auto;
}
#stringed > svg {
	width: 100%;
	min-width: 1000px;
}
#stringed .note circle {
	stroke: var(--stringed_notes_bd);
}
#stringed .note text{
	letter-spacing: -0.11em;
	font-family: Roboto;
	pointer-events: none;
}
#stringed .note:hover {
	transform-box: fill-box;
	transform-origin: center;
	transform: scale(1.2);
	cursor: pointer;
}
#stringed .fret {
	stroke: var(--stringed_frets);
}


#keyed {
	width: 100%;
	height: 8em;
	display: flex;
	justify-content: center;
	overflow-x: auto;
	stroke: var(--keyed_bd);
}
#keyed > #keyedwrap {
	display: flex;
	justify-content: center;
	width: 30em;
}
#keyed .note:hover {
	transition: .1s;
	transform: scale(1, 1.02);
	transform-origin: top;
	cursor: pointer;
}


#panel {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-end;
	min-width: 50%;
	margin-right: 3em;
	color: var(--panel_fg);
	flex-wrap: wrap;
}
#panel svg > g {
	transform-origin: center;
	transition: transform 0.5s;
}
#panel svg > g > g {
	cursor: pointer;
	font-family: Roboto;
	font-size: 0.7em;
	transform-origin: center;
	transition: transform 0.5s;
	transform-box: fill-box;
}
#panel svg > g g text {
	transition: transform 0.1s;
	transform-box: fill-box;
}
#panel svg > g g:hover text {
	transform: scale(1.1);
}
#panel svg text {
	pointer-events: none;
}
#panelscale {
	height: 1.5em;
}
#panel select {
	background: var(--panel_bg);
	color: var(--panel_fg);
	user-select: text;
}
#panelbuttons {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
#panelbuttons > * {
	margin: 0.2em;
}
#panel .wrap {
	font-weight: bold;
	display: flex;
	justify-content: space-around;
	width: 60%;
}
#panel .wrap div {
	display: flex;
	cursor: pointer;
	padding-left: 0.3em;
	padding-right: 0.3em;
}
#panel .wrap div input {
	width: 1.5em;
}
#panel .wrap div:hover {
	transform: scale(1.1);
}
#panel #retune {
	display: flex;
	align-items: center;
	margin-left: 1.7%;
	flex-wrap: nowrap;
	user-select: text;
}
#panel #retune input {
	width: 10em;
	background: var(--panel_bg);
	color: var(--panel_fg);
}


#chords {
	display: flex;
	flex-direction: row;
	align-self: space-between;
	margin-top: 1em;
	color: var(--chords_fg);
	overflow-x: auto;
	overflow-y: hidden;
	margin-bottom: 1em;
}
#chordswrap {
	display: flex;
	flex-direction: row;
	justify-content: center;
	text-align: center;
}
#chordswrap > div, #chords_types {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	margin-left: 2px;
	margin-right: 2px;
}
#chords_types {
	color: var(--chords_fg);
	opacity: 0.5;
	padding-right: 0.5em;
}
#chords_types > div {
	align-self: flex-end;
}
#chordswrap .chordwrap, #chords_types > div {
	height: 1em;
	display: flex;
	flex-direction: row;
}
#chords .chordwrap > div:hover, #chords_types > div:hover {
	transform: scale(1.1);
	cursor: pointer;
}


#linked {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	align-self: flex-end;
	justify-self: flex-end;
	flex: 1;
	padding-right: 0.3em;
	margin-right: 2em;
	border-right: solid 1px var(--panel_fg);
}
#linked a:hover {
	transform: scale(1.1);
}

hr {align: right}

#palette {
	position: fixed;
	left: 0;
	bottom: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: space-between;
	background: #000;
	border: solid 1px #fff;
	padding: 1em;
	margin: 1em;
	max-height: 60%;
	color: #fff;
}
#palette .colors {
	display: flex;
	flex-direction: column;
	overflow-y: auto;
}
#palette .colors > div {
	display: flex;
	justify-content: space-between;
}
#palette .buttons {
	display: flex;
	justify-content: space-around;
}
#palette .buttons div {
	width: 100%;
	margin-left: 3px;
	margin-right: 3px;
	text-align: center;
	justify-content: center;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	margin-top: 0.5em;
	cursor: pointer;
	background: #222;
}
#palette .buttons div:hover {
	background: #333;
}
#palette input {
	font-family: monospace;
	color: #fff;
}
#palette #precolors {
	display: flex;
	margin-bottom: 0.5em;
}
#palette #precolors > div {
	border: solid 1px #666;
	margin-left: 0.2em;
	margin-right: 0.2em;
	cursor: pointer;
}
#palette #precolors > div:hover {
	transform: scale(1.1);
}


@media (orientation: portrait) {
	body {
		justify-content: center;
	}

	#panel {
		justify-content: center;
		width: 100%;
		margin-right: 0;
	}

	#linked {
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-evenly;
		border-right: none;
		border-top: solid 1px var(--chords_fg);
		margin: 0;
		margin-top: 0.2em;
		margin-bottom: 1em;
		padding: 0;
		padding-top: 0.5em;
		min-width: 100vw;
	}
	#linked a {
		margin-left: 0.5em;
		margin-right: 0.5em;
	}
}
